<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. Julia
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Matplotlib
3. Pandas

| Data Science Tools | 
| -------- | 
| RStudio | 
| Apache Spark |
| TensorFlow |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
## This a simple arithmetic expression to multiply then add integers
(3*4)+5

[1] 17

In [3]:
## This will convert 200 minutes to hours by diving by 60
(200/60)

[1] 3.333333

Objectives:

- Python
- R 
- SQL

## Author

Menrique82